@import "../../../theme/variables.scss";

.main-container{
  display: flex;
  justify-content: space-between;
  align-items: center;


  padding: 0.8rem 1.2rem;

  border-bottom: solid 2px $color-border;
}

.menu-and-logo{
  display: flex;
  align-items: end;
  gap: 1.5rem;

  img{
    width: 8rem;
  }

  lucide-angular{
   display: flex;
   justify-content: end;
   cursor: pointer;
  }
}

.notification-icon {
  position: relative;
  display: inline-block;
}

.notification-count {
  position: absolute;
  top: -5px;
  right: -5px;
  background: red;
  color: white;
  border-radius: 50%;
  width: 0.7rem;
  height:  0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.icons-container{
  display: flex;
  gap: 1.5rem;
  align-items: center;

  lucide-angular{
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: 0.3s;

    &:hover{
      color: $color-secondary-green;
    }
  }
}

.user{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.2rem 0.4rem;

  border: solid 2px $color-border;

  lucide-angular{
    display: flex;
    align-items: center;
  }

  p{
    font-weight: bolder;
    margin: 0 !important;
  }
}

.user-info{
  display: flex;
  align-items: start;
  flex-direction: column;

  font-size: 0.7rem;
}

@media (max-width: 1050px) {
  .menu-and-logo{
    display: flex;
    align-items: end;
    gap: 0.5rem !important;
  }

  .menu-and-logo{
    display: flex;
    align-items: end;
    gap: 1.5rem;

    img{
      width: 7rem;
    }

    lucide-angular{
     display: flex;
     justify-content: end;
     cursor: pointer;
    }
  }

  .icons-container{
    gap: 0.6rem;
  }

  .user{
    display: flex;
    align-items: center;
    gap: 0.4rem;

    border: solid 2px $color-border;

    lucide-angular{
      width: 1.3rem;
    }

    p{
      display: none;
    }
    span{
      display: none;
    }
  }
}
