<div class="main-container">
  <div class="menu-and-logo">
    <lucide-angular name="menu" (click)="onMenuClick()"></lucide-angular>
    <img src="/assets/LogoFJSHorizontal.png" alt="">
  </div>

  <div class="icons-container">
    <lucide-angular name="bell" size="19"></lucide-angular>
    <div class="user">
      <lucide-angular name="circle-user-round" width="22"></lucide-angular>
      <div class="user-info">
        <p>Nome do usuário</p>
        <span>Proprietário</span>
      </div>

      <lucide-angular name="chevron-down" size="15"></lucide-angular>
    </div>
  </div>
</div>
