<div class="main-container">
  <div class="header">
    <div class="container-child-header">
      <div class="selects">
        <div class="select-container">
          <label>Sexo</label>

          <select id="select-input">
            <option value="" disabled selected>SELECIONE</option>
            <option>Todos</option>
            <option>Macho</option>
            <option>Fêmea</option>
          </select>
        </div>

        <div class="select-container">
          <label>Pureza</label>

          <select id="select-input">
            <option value="" disabled selected>SELECIONE</option>
            <option>Exemplo</option>
            <option>Exemplo</option>
            <option>Exemplo</option>
          </select>
        </div>
      </div>
      <div class="btn-plus">
        <button (click)="openNewAnimalModal()">+ Novo animal</button>
      </div>
    </div>
  </div>
</div>

<app-list-component></app-list-component>
