<app-search-component (searchCriteriaChange)="onSearchCriteriaChange($event)"></app-search-component>

<div class="main-container">
  <div class="header">
    <div class="container-child-header">
      <div class="selects">
        <div class="select-container">
          <label>Sexo</label>
          <select id="select-sex" [(ngModel)]="selectedSex" (change)="onSexChange()">
            <option value="" disabled selected>SELECIONE</option>
            <option value="Todos">Todos</option>
            <option value="Macho">Macho</option>
            <option value="Fêmea">Fêmea</option>
          </select>
        </div>

        <div class="select-container">
          <label>Pureza</label>
          <select id="select-input" [(ngModel)]="selectedPurity" (change)="onPurityChange()">
            <option value="" disabled selected>SELECIONE</option>
            <option *ngFor="let purity of purities" [value]="purity">{{ purity }}</option>
          </select>
        </div>
      </div>
      <div class="btn-plus">
        <button (click)="openNewAnimalModal()">+ Novo animal</button>
      </div>

      <div class="btn-plus-mobile">
        <button (click)="openNewAnimalModal()">+</button>
      </div>
    </div>
  </div>
</div>

<app-list-component [searchCriteria]="searchCriteria"></app-list-component>
