.table-container {
  margin: 20px auto;
  width: 80rem;
}

.mat-header-row, .mat-row {
  display: flex;
}

.mat-header-cell, .mat-cell {
  flex: 1;
  text-align: left;
  padding: 4px 8px; /* Reduz o espaçamento interno lateral (8px é horizontal) */
  font-size: 14px; /* Ajusta o tamanho da fonte, se necessário */
}

.mat-header-cell {
  font-weight: bold; /* Deixa as células do cabeçalho em destaque */
}

mat-checkbox {
  margin: 0 auto;
}

.mat-row {
  height: 48px; /* Altura das linhas */
}

.mat-header-row {
  height: 48px; /* Altura do cabeçalho */
}
