<div class="list">
  <div class="sidebar"></div>
  <div class="list-container-child">
    <div class="list-info">
      <div class="info">
        <label>Numeração</label>
        <span class="first-span"> 12345678</span>
      </div>

      <div class="info">
        <label>Série</label>
        <span>12345678</span>
      </div>

      <div class="info">
        <label>Nome do animal</label>
        <span>Bernadete</span>
      </div>

      <div class="info">
        <label>Raça</label>
        <span>Brangus</span>
      </div>

      <div class="info">
        <label>Pureza</label>
        <span>Exemplo</span>
      </div>

      <div class="info">
        <label>RDG</label>
        <span>AFDCJ</span>
      </div>

      <div class="info">
        <label>RDG</label>
        <span>AFDCJ</span>
      </div>

      <div class="info">
        <label>RDG</label>
        <span>AFDCJ</span>
      </div>

      <div class="info">
        <label>Pai</label>
        <span>Hereford</span>
      </div>

      <div class="info">
        <label>Mãe</label>
        <span>Hereford</span>
      </div>

      <div class="info">
        <label>Data de nascimento</label>
        <span>Hereford</span>
      </div>


      <div class="info">
        <label>Ultima vez que pariu</label>
        <span>10 de abril 2024</span>
      </div>
    </div>
  </div>
</div>
