<div class="list">
  <div class="sidebar"></div>
  <div class="list-container-child">
    <div class="list-info">
      <!-- Label fixada no topo, sem duplicação -->
      <div class="info">
        <label>Numeração</label>
        <div class="checkbox-container">
          <input type="checkbox" id="checkbox-input-1">
          <span class="first-span">12345678</span>
        </div>
        <div class="checkbox-container">
          <input type="checkbox" id="checkbox-input-2">
          <span class="first-span">23456789</span>
        </div>
      </div>

      <div class="info">
        <label>Série</label>
        <span>12345678</span>
        <span>12345678</span>
      </div>

      <div class="info">
        <label>Nome do animal</label>
        <span>Bernadete</span>
        <span>Bernadete</span>
      </div>

      <div class="info">
        <label>Raça</label>
        <span>Brangus</span>
        <span>Brangus</span>
      </div>

      <div class="info">
        <label>Pureza</label>
        <span>Exemplo</span>
        <span>Exemplo</span>
      </div>

      <div class="info">
        <label>RDG</label>
        <span>AFDCJ</span>
        <span>AFDCJ</span>
      </div>

      <div class="info">
        <label>Pai</label>
        <span>Hereford</span>
        <span>Hereford</span>
      </div>

      <div class="info">
        <label>Mãe</label>
        <span>Hereford</span>
        <span>Hereford</span>
      </div>

      <div class="info">
        <label>Data de nascimento</label>
        <span>Hereford</span>
        <span>Hereford</span>
      </div>

      <div class="info">
        <label>Ultima vez que pariu</label>
        <span>10 de abril 2024</span>
        <span>10 de abril 2024</span>
      </div>
    </div>
  </div>
</div>
