$color-background: #ffffff;
$color-white: #FFFFFF;
$color-black: #000000;
$color-red: red;

$color-secondary-green: rgb(56, 181, 73);

$color-background-error: #f8d7da;
$color-border-error: #f5c2c7;
$color-gray-light: rgb(248, 248, 248);
$color-border: rgb(236, 236, 236);
$color-gray-medium: rgb(80, 80, 80);
$color-inputs-login: rgb(204, 204, 204);
$color-text: rgb(130, 137, 146);
$color-title: rgb(17, 31, 47);
$color-background-button: rgb(177, 255, 213);

$font-josefin:"Josefin Sans", sans-serif;
$font-koulen:"Koulen", sans-serif;
$font-montserrat: "Montserrat", sans-serif;
