@import "../../../theme/variables.scss";

html, body {
  height: 100%; /* Garante que a altura total seja 100% */
  margin: 0; /* Remove margens padrão */
}

h1{
  color: $color-title;
  font-weight: 400;
}


.master-container{
  background-image: url("../../../assets/GadoSindi.webp");
  backdrop-filter: blur(1000px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;

  flex-wrap: wrap; /* Permite que o conteúdo seja reorganizado em telas menores */
  padding: 1rem; /* Evita que o conteúdo encoste nas bordas em telas pequenas */

  display: flex; /* Ativa o Flexbox */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */

  .container-logo{
    background-color: #ffffffb3;
    padding: 2rem 6rem;

    max-width: 400px;
    width: 100%;
    box-sizing: border-box;

    img{
      width: 13rem
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.005);
      backdrop-filter: blur(10px);
      z-index: -1;
    }
  }

  .informs-login{
    background-color: $color-white;
    padding: 2rem 0;
  }

  .content-login{
    width: 60%;
    margin: 0 auto;
  }
}

@media (max-width: 406px){
  .container-login{
    max-width: 350px;
    margin: 0 auto;
  }

  .container-logo{
    padding: 1rem 4rem !important;
  }
}
