.master-container{
  background-image: url("../../../assets/GadoSindi.webp");
  background-size: cover; /* Faz a imagem cobrir toda a área disponível */
  background-repeat: no-repeat; /* Evita a repetição da imagem */
  background-position: center; /* Centraliza a imagem */
  height: 100vh; /* Certifica-se de que o HTML ocupe toda a altura da janela */
  width: 100%;
}
