@import '../../../theme/variables.scss';

main{
  display: flex;
  flex-direction: column;

  label{
    font-size: 0.75rem;
    font-weight: bolder;
  }
  input{
    padding: 0.4rem 0.6rem;
    background-color: transparent;
    border: 3px solid $color-border;
    border-radius: 6px;
  }
}
