<div class="main-container">
  <div class="container-child">
    <div class="informs">
      <h1>Animais</h1>
      <span>Crie, gerencie e visualize os animais</span>
    </div>

    <div class="search-component">
      <input type="search" placeholder="Buscar" id="search-input" [(ngModel)]="filterValue" (input)="onSearchChange()">

      <select id="select-input" [(ngModel)]="filterField" (change)="onSearchChange()">
        <option value="" disabled selected>Filtrar</option>
        <option value="serie">Serie</option>
        <option value="name">Nome</option>
        <option value="breed">Raça</option>
        <option value="purity">Pureza</option>
        <option value="rgd">RDG</option>
        <option value="sex">SEXO</option>
        <option value="father">PAI</option>
        <option value="mother">MÃE</option>
        <option value="birthDate">NASCIMENTO</option>
      </select>
    </div>
  </div>
</div>

