<div class="main-container">
  <div class="container-child">
    <div class="informs">
      <h1>Animais</h1>
      <span>Crie, gerencie e visualize os animais</span>
    </div>

    <div class="search-component">
      <input type="search" placeholder="Buscar" id="search-input" [(ngModel)]="filterValue" (input)="onSearchChange()">

      <select id="select-input" [(ngModel)]="filterField" (change)="onSearchChange()">
        <option value="" disabled selected>Filtrar</option>
        <option>Serie</option>
        <option>Nome</option>
        <option>Raça</option>
        <option>Pureza</option>
        <option>RDG</option>
        <option>SEXO</option>
        <option>PAI</option>
        <option>MÃE</option>
        <option>NASCIMENTO</option>
      </select>
    </div>
  </div>
</div>

