@import "../../../../theme/variables.scss";

.main-container{
  display: flex;
  max-width: 70rem;
  margin: 0.8rem auto;
  padding: 0 0 2.8rem 4.8rem;
}

.sidebar{
  width: 5rem;
  height: 100%;
}

.container-child{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 2rem auto;

  border-bottom: solid 2px $color-border;

  .informs{
    margin-bottom: 1rem;
  }
}

.search-component{
  display: flex;
  align-items: center;
  gap: 0.5rem;

  #search-input{
    padding: 0.4rem 0.4rem;
    width: 15rem;
    border: solid 2px $color-border;
    color: $color-text;

    border-radius: 9px;
  }

  #select-input{
    padding: 0.3rem;
    width: 5rem;
    border: solid 2px $color-border;
    font-weight: 500;
  }
}
